# Add any directories, files, or patterns you don't want to be tracked by version control
webapp/node_modules/*
.idea/
target/
*.iml
/node_modules/*
src/main/webapp/node_modules/*

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

target/
!.mvn/wrapper/maven-wrapper.jar